<!DOCTYPE html>
<html>
<head>
	<title>Ruby On Rails With Ahmad Ghallab</title>

</head>
<body>

<h2>Ahmad Ghallab is learning Ruby On Rails</h2>
<h3><%= link_to 'About my work', about_path %></h3>

</body>
</html>