

<div align="center">
	<%= will_paginate %>
</div>


<div class="well-custom">



<% @categories.each do |category| %>
<div align="center" class="article-title">
	<%= link_to "#{category.name}", category_path(category) %> | <small><%= pluralize(category.articles.count, "article") %></small>

</div>
<% end %>



</div>

<div align="center">
	<%= will_paginate %>
</div>