<div class="container">
	<footer class="footer">
	<small>
		Copyright &copy; <a href="#"> Egyptian history blog</a> by Ahmad Ghallab
	</small>
	
	<nav>
		<ul>
			<li>About</li>
			<li>Career</li>
			<li>Developers</li>
			<li>Future</li>
		</ul>
	</nav>
	</footer>
</div>